/*reset_style*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*import  */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero {
  z-index: auto;
  background: url(../assets/Desktop_Backgrounds_1920x1200_6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 822px;
}

.stars {
  position: absolute;
  z-index: auto;
  width: 100%;
  height: 100%;
  background: url(../assets/stars.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: fadeIn 5s linear 2s infinite;
          animation: fadeIn 5s linear 2s infinite;
  height: 822px;
}

.Dots {
  position: absolute;
  z-index: auto;
  width: 100%;
  height: 100%;
  background: url(../assets/Dots.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: slideIn 5s linear infinite;
          animation: slideIn 5s linear infinite;
  -webkit-transform-origin: right;
          transform-origin: right;
  height: 822px;
}

.hero_logo {
  margin-top: 180px;
  display: block;
  width: 63px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.hero_logo:hover {
  -webkit-transform: rotateY(180deg) scale(1.5) translate(0%, -15%);
          transform: rotateY(180deg) scale(1.5) translate(0%, -15%);
}

.hero_h1 {
  color: #FFFFFF;
  margin-top: 13px;
  margin-bottom: 42px;
}

.hero_h2 {
  color: #ffffff;
  opacity: 70%;
  margin-top: 42px;
  padding-bottom: 256px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
}

.site-header {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  padding-left: 153px;
  padding-right: 165px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav_project_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 395px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6px;
}

.nav_project_links li a:hover {
  color: #0088a9;
}

li {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.underline {
  width: 80px;
  height: 0px;
  left: 600px;
  top: 71px;
  border: 2px solid #FFFFFF;
  margin-left: 104px;
}

.hamburger-icon {
  float: right;
  padding-right: 20px;
  padding-top: 43px;
  margin: 0;
  padding: 19px 16px;
  display: inline-block;
  position: relative;
  top: 30px;
  left: 0;
}

.hamburger-icon span {
  width: 40px;
  background-color: white;
  height: 5px;
  display: block;
  margin-bottom: 6px;
}

.hamburger-icon span:last-child {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .hero {
    z-index: auto;
    background: url(../assets/Desktop_Backgrounds_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .stars {
    background: url(../assets/stars_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .Dots {
    background: url(../assets/Dots_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .hero_logo {
    padding-top: 203.99px;
    width: 63.04px;
    height: 62.54px;
  }
  .site-header {
    padding-left: 30px;
    padding-top: 50px;
  }
  .nav_project_links {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .hero_h2 {
    padding-bottom: 246.19px;
  }
  header {
    display: block;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .hamburger-icon {
    visibility: hidden;
  }
}

main {
  background-color: #EEEEEE;
}

.main_h1 {
  padding-top: 80px;
  color: #464547;
}

.main_h3 {
  color: #666666;
  margin-top: 42px;
  margin-bottom: 30px;
}

article {
  font-family: Source Sans Pro, Georgia, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-container_article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: repeat;
      grid-template-rows: repeat;
  gap: 83px;
  max-width: 907px;
  margin-left: auto;
  margin-right: auto;
}

.read_more_button {
  font-family: Oswald Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: 51px;
  background: #55C2D8;
  border-radius: 18px;
  width: 115px;
  height: 36px;
  border: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.read_more_button:hover {
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@media (max-width: 768px) {
  .main_h1 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }
  .main_h3 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }
  .grid-container_article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: repeat;
        grid-template-rows: repeat;
    gap: 83px;
    max-width: 907px;
    margin-left: auto;
    margin-right: auto;
  }
}

.learn_more {
  background: url(../assets/IMG_1334_72dpi_RGB.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  margin-top: 80px;
}

.learn_more_layout {
  background-color: rgba(140, 79, 42, 0.3);
  height: 100%;
}

.learn_more_h1 {
  color: #FFFFFF;
  padding-top: 84px;
}

.learn_more_h3 {
  color: #FFFFFF;
  margin-top: 70px;
  padding-bottom: 86.42px;
}

.learn_more_button {
  font-family: Oswald Regular;
  font-size: 60px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2em;
  color: #FFFFFF;
  background-color: #55C2D8;
  border-radius: 50%;
  margin-top: 53px;
  width: 150px;
  height: 150px;
  border: 0px;
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.learn_more_button:hover {
  color: #55C2D8;
  background-color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 768px) {
  .learn_more_button {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  background-color: #464547;
  padding-bottom: 20px;
}

.footer_logo {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.footer_logo_container {
  height: 20px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.project_name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 20px;
  color: #FFFFFF;
  padding-top: 15px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  grid-row-gap: 20px;
  padding-top: 37px;
  padding-left: 153px;
  padding-right: 148px;
}

contacts {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contact_email {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.contacts_copyright {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 768px) {
  .grid-container {
    display: block;
    padding-top: 56px;
    padding-left: auto;
    padding-right: auto;
  }
  contacts {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .contact_email {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .contacts_copyright {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
}

body {
  width: 100%;
  min-width: 300px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: #b3b3b3;
  text-align: center;
}

h3 {
  color: #4b4b4b;
  text-align: center;
}

p {
  color: #292929;
  text-align: center;
}

h1 {
  font-family: Oswald, Georgia, Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

p {
  margin-bottom: 15px;
}
/*# sourceMappingURL=styles.css.map */