@keyframes fadeIn {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideIn {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}