body {
	width: 100%;
	min-width: 300px;
}
h1 {
	color: white;
	text-align: center;
}
h2 {
	color: rgb(179, 179, 179);
	text-align: center;
}
h3 {
	color: rgb(75, 75, 75);
	text-align: center;
}
p {
	color: rgb(41, 41, 41);
	text-align: center;
}

h1 {
	font-family: Oswald, Georgia, Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
}
h2 {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}
h3 {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}
p {
	margin-bottom: 15px;
}