.hero {
	z-index: auto;
	background: url(../assets/Desktop_Backgrounds_1920x1200_6.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	height: 822px;
}
.stars {
	position: absolute;
	z-index: auto;
	width: 100%;
	height: 100%;
	background: url(../assets/stars.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	animation: fadeIn 5s linear 2s infinite;
	height: 822px;
}
.Dots {
	position: absolute;
	z-index: auto;
	width: 100%;
	height: 100%;
	background: url(../assets/Dots.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	animation: slideIn 5s linear infinite;
	transform-origin: right;
	height: 822px;
}
.hero_logo_container {
	margin-top: 174px;
    z-index: 1;
}
.hero_logo {
	display: block;
	width: 63px;
	height: 63px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s ease-in;
    transform-origin: center;
	&:hover {
		transform: rotateY(180deg) scale(1.5) translate(0%, -15%);
	}
}
.hero_h1 {
	color: $wh;
	opacity: 50%;
	margin-top: 13px;
	margin-bottom: 42px;
}
.hero_h2 {
	color: $wh;
	opacity: 70%;
	margin-top: 42px;
	padding-bottom: 256px;
}
header {
	display: flex;
	padding-top: 45px;
}
.site-header {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 16px;
	padding-left: 153px;
	padding-right: 165px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $wh;
}
.nav_project_links {
	display: flex;
	width: 395px;
	justify-content: space-between;
	padding-bottom: 6px;
	li {
		a {
			&:hover {
				color: #0088a9;
			}
		}
	}
}
li {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: $wh;
	text-decoration: none;
}
a {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: $wh;
	text-decoration: none;
}
.underline {
	width: 80px;
	height: 0px;
	left: 600px;
	top: 71px;
	border: 2px solid $wh;
	margin-left: 104px;
}
.hamburger-icon {
	float: right;
	padding-right: 20px;
	padding-top: 43px;
	margin: 0;
	padding: 19px 16px;
	display: inline-block;
	position: relative;
	top: 30px;
	left: 0;
	span {
		width: 40px;
		background-color: $wh;
		height: 5px;
		display: block;
		margin-bottom: 6px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
@media (max-width:768px) {
	.hero {
		z-index: auto;
		background: url(../assets/Desktop_Backgrounds_mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
	}
	.stars {
		background: url(../assets/stars_mobile.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
	}
	.Dots {
		background: url(../assets/Dots_mobile.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
	}
	.hero_logo {
		padding-top: 203.99px;
		width: 63.04px;
		height: 62.54px;
	}
	.site-header {
		padding-left: 30px;
		padding-top: 50px;
	}
	.nav_project_links {
		visibility: hidden;
	}
}
@media (max-width: 768px) {
	.hero_h2 {
		padding-bottom: 246.19px;
	}
	header {
		display: block;
		padding-top: 0;
	}
}
@media (min-width: 768px) {
	.hamburger-icon {
		visibility: hidden;
	}
}
