.learn_more {
	background: url(../assets/IMG_1334_72dpi_RGB.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center center;
	margin-top: 80px;
}
.learn_more_layout {
	background-color: $light_brown;
	height: 100%;
}
.learn_more_h1 {
	color: $wh;
	padding-top: 84px;
}
.learn_more_h3 {
	color: $wh;
	margin-top: 70px;
	padding-bottom: 86.42px;
}
.learn_more_button {
	font-family: Oswald Regular;
	font-size: 60px;
	line-height: 26px;
	text-align: center;
	letter-spacing: -0.2em;
	color: $wh;
	background-color: $skyblue;
	border-radius: 50%;
	margin-top: 53px;
	width: 150px;
	height: 150px;
	border: 0px;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 1s linear;
	&:hover {
		color: $skyblue;
		background-color: $wh;
		cursor: pointer;
	}
}
@media (max-width:768px) {
	.learn_more_button {
		width: 100px;
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
