main {
	background-color: $whitesmoke;
}
.main_h1 {
	padding-top: 80px;
	color: $gray;
}
.main_h3 {
	color: $dark_gray;
	margin-top: 42px;
	margin-bottom: 30px;
}
article {
	font-family: Source Sans Pro, Georgia, Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: $black;
	margin-left: 20px;
	margin-right: 20px;
}
.grid-container_article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat;
	gap: 83px;
	max-width: 907px;
	margin-left: auto;
	margin-right: auto;
}
.read_more_button {
	font-family: Oswald Regular;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	color: $wh;
	margin-top: 51px;
	background: $skyblue;
	border-radius: 18px;
	width: 115px;
	height: 36px;
	border: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	&:hover {
		transform: rotateZ(15deg);
		transform-origin: top left;
	}
}
@media (max-width:768px) {
	.main_h1 {
		margin-left: 20px;
		margin-right: 20px;
		text-align: left;
	}
	.main_h3 {
		margin-left: 20px;
		margin-right: 20px;
		text-align: left;
	}
	.grid-container_article {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat;
		gap: 83px;
		max-width: 907px;
		margin-left: auto;
		margin-right: auto;
	}
}
