$wh: #ffffff;
$light_gray: rgba(255,255,255,0.7);
$gray: #464547;
$semi_dark_gray: rgba(255,255,255,0.4);
$dark_gray: #666666;
$black: #000000;
$skyblue: #55C2D8;
$whitesmoke: #eeeeee;
$light_brown: rgba(140, 79, 42, 0.3);


$minwidth:320px;
$mw:1200;