//nullstyle
@import "nullstyle.scss";

//fonts   
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

// default font 
$fontfamaly:"Source+Sans+Pro";

/*import  */
@import "_hero.scss";
@import "_main.scss";
@import "_learn_more.scss";
@import "_footer.scss";
@import "_variables.scss";
@import "_animation.scss";

//mixin
@mixin fontz($fs,$cl,$op){
    font-size: $fs;
    color: $cl;
    opacity: op;
}